{% extends 'base.html' %}

{% block content %}

{% load static %}

<!-- <body> -->
    <!-- <header> -->
    <div>
        <nav>
            <ul>
                <li>
                    {% if user.is_authenticated %}
                    Hello, {{ user.username }}
                    <a href="{% url 'logout' %}">Logout</a>
                    <a href="{% url 'home' %}">My Receipts</a>
                    <!-- <a href="{% url 'create_receipt' %}">Create Receipt</a> -->
                    <a href="{% url 'create_category' %}">Create Category</a>
                    <a href="{% url 'create_account' %}">Create Account</a>
                    <a href="{% url 'account_list' %}">Account List</a>
                    <a href="{% url 'category_list' %}">Category List</a>
                {% else %}
                    <a href="{% url 'signup' %}">Sign up!</a>
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
                </li>
            </ul>
        </nav>
    </div>
    <!-- </header> -->
        <main>
            <div>
                <h1>Create Receipt</h1>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p}}
                    <button>Create</button>
                </form>
            </div>
        </main>
<!-- </body> -->

{% endblock content %}
